@font-face {
    font-family: 'Montaga';
    src: url('Montaga-Regular.woff2') format('woff2'),
        url('Montaga-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

